body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('https://images.squarespace-cdn.com/content/v1/5f7d9d8c137825236f5fa34e/6b181ab9-e049-47cf-868d-f9ed306e6876/michael-sum-LEpfefQf4rU-unsplash.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}